<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="../../../css/footer.css">
</head>

<body>
    <div class="navigation-strip">
        <!-- Hamburger Icon to Open Sidebar -->



        <i class="bx bx-menu" id="sidebarOpen"></i>

        <!-- Menu Options -->
        <div class="navbar_content">

            <i class='bx bx-sun' id="darkLight"></i>
        </div>
        <img class="logo" src="LOGO.jpg" alt="Flowers in Chania">
        <div class="contact-us-container">
            Welcome<h4 id="username">User Name</h4>
            </h4>
        </div>
        <span class="user-info-button">User Info</span>

        <!-- User Info Popup -->
        <div class="user-info-popup">
            <!-- Add user information here -->
            <h4 id="username1">User Name</h4>
            <div>
                <h7 id="userrole">User Role</h7>
            </div>
            <div>
                <h8 id="course_code">Course Name</h8>
            </div>
        </div>
    </div>

    <!-- sidebar -->
    <nav class="sidebar">
        <div class="menu_content">
            <ul class="menu_items">
                <div class="menu_title menu_dahsboard"></div>
                <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
                <!-- start -->
                <li class="item">
                    <a href="/coursehome" class="nav_link">
                        <span class="navlink_icon">
                            <i class="bx bx-home-alt"></i>
                        </span>
                        <span class="navlink">Home</span></a>
                </li>
                <!-- end -->

                <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
                <!-- start -->
                <li class="item">
                    <div href="#" class="nav_link submenu_item">
                        <span class="navlink_icon">
                            <i class="bx bx-user"></i>
                        </span>
                        <span class="navlink">Attainment</span>
                        <i class="bx bx-chevron-right arrow-left"></i>
                    </div>
                    <ul class="menu_items submenu">
                        <a href="/courseoutcomeopt" class="nav_link sublink">Course Outcome</a>
                        <a href="/attainmentt1opt" class="nav_link sublink">T1</a>
                        <a href="/attainmentt2opt" class="nav_link sublink">T2</a>
                        <a href="/attainmentt3opt" class="nav_link sublink">T3</a>
                        <a href="/attainmenttaopt" class="nav_link sublink">TA</a>
                        <a href="/atcourseexitopt" class="nav_link sublink">Course Exit Survey</a>
                        <a href="/atcopsomapopt" class="nav_link sublink">CO-PO Attainment</a>
                    </ul>
                </li>
                <li class="item">
                    <div href="#" class="nav_link submenu_item">
                        <span class="navlink_icon">
                            <i class="bx bx-user"></i>
                        </span>
                        <span class="navlink">Examination</span>
                        <i class="bx bx-chevron-right arrow-left"></i>
                    </div>

                    <ul class="menu_items submenu">
                        <a href="/courseexamt1opt" class="nav_link sublink">T1</a>
                        <a href="/courseexamt2opt" class="nav_link sublink">T2</a>
                        <a href="/courseexamt3opt" class="nav_link sublink">T3</a>
                        <a href="/courseexamtaopt" class="nav_link sublink">TA</a>
                    </ul>
                </li>

                <li class="item">
                    <div href="#" class="nav_link submenu_item">
                        <span class="navlink_icon">
                            <i class="bx bx-user"></i>
                        </span>
                        <span class="navlink">Reports</span>
                        <i class="bx bx-chevron-right arrow-left"></i>
                    </div>

                    <ul class="menu_items submenu">
                        <a href="/openingreportopt" class="nav_link sublink">Opening Report</a>
                        <a href="/closingreportopt" class="nav_link sublink">Closing Report</a>
                    </ul>
                </li>
            </ul>

            <ul class="menu_items">
                <div class="menu_title menu_setting"></div>
                <li class="item">
                    <a href="/logout" class="nav_link">
                        <span class="navlink_icon">
                            <i class="bx bx-log-out"></i>
                        </span>
                        <span class="navlink">Logout</span>
                    </a>
                </li>


                <!-- Sidebar Open / Close -->
                <div class="bottom_content">
                    <div class="bottom expand_sidebar">
                        <span> Expand</span>
                        <i class='bx bx-log-in'></i>
                    </div>
                    <div class="bottom collapse_sidebar">
                        <span> Collapse</span>
                        <i class='bx bx-log-out'></i>
                    </div>
                </div>
        </div>
    </nav>
    <div class="upper-container d-flex align-items-center justify-content-start">
        <div class="institute-logo">
            <img src="logojiit.jpg" alt="Institute Logo">
        </div>
        <div class="institute-details">
            <h1>Jaypee Institute of Information Technology</h1>
            <p>Declared Deemed to be University under Sec 3 of UGC Act 1956</p>
        </div>
    </div>
    <div class="exam-date">
        <p>Date & Time: <span id="datePlaceholder"></span> & <span id="timePlaceholder"></span></p>
    </div>
    </div>
    <div class="container mt-5"></div>
    <div class="box-heading1">
        <h5>Opening Report</h5>
    </div>

    <table class="table" id="course_table">
        <thead>
            <tr>
                <th>Course Code.</th>
                <td>
                    <div class="form-group">
                        <input type="text" id="co_code" name="co_code" class="form-control">
                    </div>
                </td>
                <th>Semester</th>
                <td>
                    <div class="form-group">
                        <input type="text" id="sem" name="sem" class="form-control">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Course Name</th>
                <td colspan="3">
                    <div class="form-group">
                        <input type="text" id="co_name" name="co_name" class="form-control">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Credits</th>
                <td>
                    <div class="form-group">
                        <input type="number" id="credits" name="credits" class="form-control">
                    </div>
                </td>
                <th>Contact Hours</th>
                <td>
                    <div class="form-group">
                        <input type="text" id="contact_hours" name="contact_hours" class="form-control">
                    </div>
                </td>
            </tr>
            <tr>
                <th class="top">Names of Course Coordinator</th>
                <td colspan="4">
                    <div class="form-group">
                        <input type="text" id="coordinators" name="coordinators" class="form-control">
                    </div>
                </td>
            </tr>
        </thead>
        <tbody id="cd_data">
            <!-- Data will be added here dynamically -->
        </tbody>
    </table>

    <div class="box-heading3">
        <h5>1.Course Outcome</h5>
    </div>

    <table class="table" id="co_table">
        <thead>
            <tr>
                <th colspan="2" class="top">Course Outcomes</th>
                <th>Cognitive Levels</th>
            </tr>
        </thead>
        <tbody>
        <tbody id="co_data"></tbody>
        <!-- Data will be added here dynamically -->
        </tbody>
    </table>

    <div class="box-heading3">
        <h5>2.CO PO PSO Mapping</h5>
    </div>

    <table class="table" id="co_table1">
        <thead>
            <tr>
                <th>COs</th>
                <th>PO1</th>
                <th>PO2</th>
                <th>PO3</th>
                <th>PO4</th>
                <th>PO5</th>
                <th>PO6</th>
                <th>PO7</th>
                <th>PO8</th>
                <th>PO9</th>
                <th>PO10</th>
                <th>PO11</th>
                <th>PO12</th>
                <th>PSO1</th>
                <th>PSO2</th>
            </tr>
        </thead>
        <tbody>
        <tbody id="co_data2"></tbody>
        <!-- Data will be added here dynamically -->
        </tbody>
    </table>

    <div class="box-heading3">
        <h5>3.Identified gaps in Syllabus/Course Description(if any)</h5>
    </div>

    <table class="custom-table" id="curriculum-gap-table">
        <thead>
            <tr>
                <th>Topics to be introduced</th>
                <th>Strengthens CO</th>
                <th>Strengthens PO PSO</th>
                <th>Method of Identification</th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody id="curriculum-gap-data">
            <!-- Data will be added here dynamically -->
        </tbody>
    </table>

    <div class="table-buttons text-end mt-3">
        <button class="btn btn-info add-row-button-curriculum-gap">Add New Row</button>
        <button class="btn btn-info save-button-curriculum-gap">Save</button>
    </div>

    <div class="box-heading3">
        <h5>4.Modifications in Syllabus/Course Description (if Any)</h5>
    </div>

    <table class="custom-table" id="curriculum-mod-table">
        <thead>
            <tr>
                <th>Details of Modification(Addition/Removal)</th>
                <th>Justification</th>
                <th>Strengthens POs/PSOs</th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody id="curriculum-mod-data">
            <!-- Data will be added here dynamically -->
        </tbody>
    </table>

    <div class="table-buttons text-end mt-3">
        <button class="btn btn-info add-row-button-curriculum-mod">Add New Row</button>
        <button class="btn btn-info save-button-curriculum-mod">Save</button>
    </div>
    <div class="box-heading3">
        <h5>5.Actions for Improving CO Attainments:</h5>
    </div>

    <table class="custom-table" id="action-table">
        <thead>
            <tr>
                <th>COs</th>
                <th>Attainment in 2022-23 </th>
                <th>Actions to be taken in 2023-24 to improve Co Attainment</th>
                <th>Strengthens POs/PSOs</th>
                <th>Action</th>
            </tr>

        </thead>
        <tr>
            <th>C109.1</th>
            <th rowspan="5">COs are Revised in 23-24</th>
            <th>Some more lectures and practice problems should be there in the learning aspect.</th>
            <th>PO1-PO3, PO7-PO12, PSO1, PSO2</th>
            <th></th>
        </tr>
        <tr>
            <th>C109.2</th>
            <th>Problem solving based learning should be continued, and problem solving should continue.</th>
            <th>PO1-PO3, PO7-PO12, PSO1, PSO2</th>
            <th></th>
        </tr>
        <tr>
            <th>C109.3</th>
            <th>Somme more lectures and practice problems should be there in the learning aspect.</th>
            <th>PO1-PO3, PO7-PO12, PSO1, PSO2</th>
            <th></th>
        </tr>
        <tr>
            <th>C109.4</th>
            <th>Problem solving via implementation should continue and few more lectures and practice problems should be
                there in learning aspect.</th>
            <th>PO1-PO3, PO7-PO12, PSO1, PSO2</th>
            <th></th>
        </tr>
        <tr>
            <th>C109.5</th>
            <th>Problem-solving-based learning should be continued, and the focus on programming-based active learning
                using competitions should continue. </th>
            <th>PO1-PO3, PO7-PO12, PSO1, PSO2</th>
            <th></th>
        </tr>
        <tbody id="action-data">
            <!-- Data will be added here dynamically -->
        </tbody>
    </table>

    <div class="table-buttons text-end mt-3">
        <button class="btn btn-info add-row-button-action">Add New Row</button>
        <button class="btn btn-info save-button-action">Save</button>
    </div>


    <div class="box-heading3">
        <h5>6.Innovative Teaching and Learning Method to be used(if any)</h5>
    </div>
    <br>
    <div>
        <textarea id="innovativemethod" placeholder="Write your suggestions here">
            1.	Concept explanation through code demonstration
            2.	Use of Google classrooms for material distribution.
            3.	For weak learners, remedial classes will be  arranged.
            4.	Encouragement to students to use different online coding tests. 
            5.	MOOCs will be referred.
        </textarea>
    </div>
    <div class="table-buttons text-end mt-3">
        <button class="btn btn-info save-button-innovativemethod">Save</button>
    </div>

    <div class="box-heading3">
        <h5>7. Strategies for</h5>
    </div>
    <div class="box-heading3">
        <h5>7.1. Weak Learners</h5>
    </div>

    <table class="custom-table" id="weak-strategy-table">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Strategy </th>
                <th>Action</th>
            </tr>

        </thead>
        <tr>
            <th>1</th>
            <th>Make the group of 3-4 students for class test/project etc. Associate one weak student with one bright
                student after T1 and conduct the class test/assignment for the weak student to analyze the improvements.
            </th>
            <th></th>
        </tr>

        <tbody id="weak-strategy-data">
            <!-- Data will be added here dynamically -->
        </tbody>
    </table>

    <div class="table-buttons text-end mt-3">
        <button class="btn btn-info add-row-button-weak">Add New Row</button>
        <button class="btn btn-info save-button-weak">Save</button>
    </div>


    <div class="box-heading3">
        <h5>7.2.Bright Students</h5>
    </div>


    <table class="custom-table" id="bright-strategy-table">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Strategy </th>
                <th>Action</th>
            </tr>

        </thead>
        <tr>
            <th>1</th>
            <th>Ask them to regularly participate in different coding competitions. </th>
            <th></th>
        </tr>
        <tbody id="bright-strategy-data">
            <!-- Data will be added here dynamically -->
        </tbody>
    </table>

    <div class="table-buttons text-end mt-3">
        <button class="btn btn-info add-row-button-bright">Add New Row</button>
        <button class="btn btn-info save-button-bright">Save</button>
    </div>


    <div class="box-heading3">
        <h5>8. Innovative Evaluation Strategy to be used(if any)</h5>
    </div>
    <br>
    <div>
        <textarea id="innovative-evaluation" placeholder="Write your suggestions here">
            1. Different quiz sets.
            2. Online tests with multiple question set.
            3. Code visualization using online tools.
            </textarea>
    </div>
    <div class="table-buttons text-end mt-3">
        <button class="btn btn-info save-button-innovative-evaluation">Save</button>
    </div>



    <div class="upper-container d-flex align-items-center justify-content-start">
        <div class="signature-details">
            <h6>Signature</h6>
            <h6>Module Coordinator:</h6>
            <br>
            <h6>Signature</h6>
            <h6>Course Coordinator:</h6>


        </div>
    </div>
    <!--<div class="exam-date">
            <p>Date & Time: <span id="datePlaceholder"></span> & <span id="timePlaceholder"></span></p>
        </div>-->
    </div>
    <div class="container mt-5"></div>

    </div>
    <div class="table-buttons text-end mt-3">

        <button class="print-button" onclick="printPage()">Print</button>
    </div>

    <div id="footer"></div>
    <script>
        // Fetch and insert the footer content
        fetch('../../../extra/footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer').innerHTML = data;
            });
    </script>


    <!-- Add more buttons for additional pages as needed -->
    </div>
    <!-- ... (your existing HTML code) ... -->
    <script>
        const selectedSubject = '<%= selectedSubject %>';
        window.selectedSubject = selectedSubject;
    </script>
    <script src="dataval.js"></script>
    <script src="../../../script/coordinator/reports/opening.js"></script>
    <script>
        const currentDate = new Date();

        // Define the fixed date you want to display
        const fixedDate = new Date('2023-09-28'); // Set the fixed date here (Year, Month - 1, Day)

        // Function to format time with leading zeros
        const formatTime = (value) => (value < 10 ? `0${value}` : value);

        // Function to format date as dd/mm/yyyy
        const formatDate = (date) => {
            const day = formatTime(date.getDate());
            const month = formatTime(date.getMonth() + 1);
            const year = date.getFullYear();
            return `${day}/${month}/${year}`;
        };

        // Check if the current date is the fixed date
        if (
            currentDate.getFullYear() === fixedDate.getFullYear() &&
            currentDate.getMonth() === fixedDate.getMonth() &&
            currentDate.getDate() === fixedDate.getDate()
        ) {
            // Display the fixed date
            document.getElementById('datePlaceholder').textContent = formatDate(fixedDate);
        } else {
            // Display the current date
            document.getElementById('datePlaceholder').textContent = formatDate(currentDate);
        }

        // Display the current time
        const hours = formatTime(currentDate.getHours());
        const minutes = formatTime(currentDate.getMinutes());
        const seconds = formatTime(currentDate.getSeconds());

        document.getElementById('timePlaceholder').textContent = `${hours}:${minutes}:${seconds}`;
        function printPage() {
            // Call the window.print() method to initiate printing
            window.print();
        }</script>




</body>

</html>